body{
    font-family: sans-serif;
    font-size: 12pt;
    background-color: rgb(252, 229, 232);
    color: rgb(142, 114, 120);
    margin: 15pt;
}
h1{
    font-family: Lucida;
    font-size: 40pt;
    color: grey;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 19pt;
    color: lightslategray
}
h3{  
    font-size: 16pt;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10pt;
}
ul{
    font-size: 10pt;
}
a{
    font-size: 11pt;
    color: black;
}
a:hover {
    text-decoration: underline;
    background-color: white;
}
a:visited{
    color: purple;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px;
    border: 1px solid #050505;
}

#nameButton{
    background-color: rgb(251, 251, 251);
}

nav {
    background-color:rgb(96, 95, 95);
    padding:  10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: rgb(234, 226, 226);
    text-decoration: none;
    font-size: 23px;
    transition: 0.3s ease; font-size: 0.3s ease; /*smooth hover */
}

nav ul li a:hover {
    text-decoration: underline;
}

